Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
#creating pandas series
data=[4,8,15,16,23,42]
series=pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [4]:
list_var=[1,2,3,4,5,6,76,65,"t","t","rt"]
series1=pd.Series(list_var)
print(series1)

0      1
1      2
2      3
3      4
4      5
5      6
6     76
7     65
8      t
9      t
10    rt
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

In [4]:
import pandas as pd 
data ={ 
    'name':['alice','bob','claire'],
    'age':[25,30,27],
    'gender':['female','male','female']
}
df=pd.DataFrame(data)
print(df)

     name  age  gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Ans:-Dataframe
*Structure:It is a 2-dimentional labeled data structure with columns that can be of different types(like a table in a database or an Excel spreadsheet)
features:
>row and column are both labeled.
>can hold multiple data types 
>Easily manipulated and aggregated based on labels.

Series
Structure: It is a 1-dimensional labeled array capable of holding data of any type (similar to a single column of an Excel sheet).

Features:

>Contains an index.

>Holds a single data type.

>Essentially, a column in a DataFrame.

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
Ans:-
Pandas is a powerhouse for data manipulation! Here are some common functions and their applications:

1. head() and tail()
Purpose: To view the first few or last few rows of the DataFrame.

Example: df.head(5) shows the first 5 rows.

2. describe()
Purpose: Provides a summary of statistics for numerical columns.

Example: df.describe() gives count, mean, std deviation, min, max, and quartile values.

3. drop()
Purpose: Removes specified labels from rows or columns.

Example: df.drop(['column1', 'column2'], axis=1) removes columns column1 and column2.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
DataFrame is mutable in nature. This means you can modify its elements, add or remove rows and columns, and change its size after it's created.   

Series and Panel are immutable, meaning their size and content cannot be changed once they are created.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [3]:
import pandas as pd 
series1= pd.Series([1,2,3],index=['a','b','c'])
series2=pd.Series([4,5,6],index=['a','b','c'])
series3=pd.Series([7,8,9],['a','b','c'])
dframe = pd.DataFrame({'column1':series1,"column2":series2,"column3":series3})
print(dframe)

   column1  column2  column3
a        1        4        7
b        2        5        8
c        3        6        9